*{
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
h3{
    background-color: lightpink;
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
.att{
    background-color: beige;
    color: black;
    text-align: center;
}
.img{
            width: 400px;
            height:500px;
}
.text-attr{
    font-size:small;
    font-weight: 300;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div{
    color:black;
    height: 100px;
    width: 100px;
    background-color: rgb(0, 72, 255);
    border:3px solid rgb(153, 0, 255);
}
li{
    background-color: white;
    color:black;
}